.createBtn {
  display: flex;
  width: 90px;
  margin-bottom: 16px;
  text-align: center;
  background: linear-gradient(135deg, #2E5BFF 0%, #2496EE 100%);
  opacity: 1;
  border-radius: 2px;
  font-size: 0;

  &_icon {
    height: 40px;
    line-height: 34px;
    margin-left: 18px;
    margin-right: 6px;
    font-size: 30px;
    font-weight: 400;
    color: white;
    opacity: 1;
  }

  &_text {
    height: 40px;
    line-height: 41px;
    font-size: 14px;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    opacity: 1;
  }
}

.createBtn:hover {
  cursor: pointer;
}

.cancelBtn {
  width: 80px;
  height: 32px;
  line-height: 29px;
  text-align: center;
  border: 1px solid rgba(46, 91, 255, 1);
  opacity: 1;
  border-radius: 2px;
  color: rgba(46, 91, 255, 1);
  font-size: 14px;
  font-family: Source Han Sans CN;
  font-weight: 400;
}

.cancelBtn:hover {
  cursor: pointer;
}

.saveBtn {
  min-width: 80px;
  height: 32px;
  background: rgba(46, 91, 255, 1);
  opacity: 1;
  border-radius: 2px;
  text-align: center;
  font-size: 14px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  line-height: 31px;
  color: rgba(255, 255, 255, 1);
}

// .saveBtn:hover {
//   cursor: pointer;
// }

.resetBtn {
  display: inline-block;
  width: 92px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  background: rgba(255, 255, 255, 1);
  color: rgba(46, 91, 255, 1);
  border: 1px solid rgba(46, 91, 255, 1);
  opacity: 1;
  border-radius: 2px;
}

.exportBtn {
  width: 90px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #E0E7FF;
  opacity: 1;
  border-radius: 2px;
  text-align: center;
  line-height: 40px;

  span {
    margin-left: 8px;
  }
}

.exportBtn:hover {
  cursor: pointer;
  // color: rgba(255, 151, 22, 1);
  // border: 1px solid rgba(255, 151, 22, 1);
}