.createBtn {
  display: flex;
  width: 90px;
  margin-bottom: 16px;
  text-align: center;
  background: linear-gradient(148deg, rgba(214, 21, 24, 1) 0%, rgba(234, 155, 57, 1) 100%);
  opacity: 1;
  border-radius: 2px;
  font-size: 0;

  &_icon {
    height: 40px;
    line-height: 34px;
    margin-left: 18px;
    margin-right: 6px;
    font-size: 30px;
    font-weight: 400;
    color: white;
    opacity: 1;
  }

  &_text {
    height: 40px;
    line-height: 41px;
    font-size: 14px;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    opacity: 1;
  }
}

.createBtn:hover {
  cursor: pointer;
}

.cancelBtn {
  width: 80px;
  height: 32px;
  line-height: 29px;
  text-align: center;
  border: 1px solid rgba(255, 151, 22, 1);
  opacity: 1;
  border-radius: 2px;
  color:rgba(255,151,22,1);
  font-size: 14px;
  font-family: Source Han Sans CN;
  font-weight: 400;
}
.cancelBtn:hover {
  cursor: pointer;
}

.saveBtn {
  width: 80px;
  height: 32px;
  background: rgba(255, 151, 22, 1);
  opacity: 1;
  border-radius: 2px;
  text-align: center;
  font-size: 14px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  line-height: 32px;
  color: rgba(255, 255, 255, 1);
}
.saveBtn:hover {
  cursor: pointer;
}

.resetBtn {
  display: inline-block;
  width: 92px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  background: rgba(255, 255, 255, 1);
  color: rgba(255, 151, 22, 1);
  border: 1px solid rgba(255, 151, 22, 1);
  opacity: 1;
  border-radius: 2px;
}

.resetBtn:hover {
  cursor: pointer;
}
