// 沙盒面板样式
.sandbox {
  width: 100%;
  padding: 17px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  .sandboxHeadBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    .sandboxHead {
      display: flex;
      align-items: center;
      .sandboxHead_title{
        margin-left: 8px;
        font-weight:bold;
        color:rgba(48,49,51,1);
      }
    }
  }
}

// 操作按钮

.operateBtnBox {
  display: inline-block;
  .operateBtn, .operateBtn:hover, .operateBtn:active {
    height: 28px;
    color: #2E5BFF;
    background: rgba(46, 91, 255, 0.05);
    border: 1px solid rgba(46, 91, 255, 0.4980392156862745);
    opacity: 1;
    border-radius: 2px;
    font-size: 12px;
    padding: 0 8px;
    margin: 2px;
  }

  :global {

    .ant-btn>.anticon+span,
    .ant-btn>span+.anticon {
      // height: 28px;
      margin-left: 6px;
    }
  }
}
