.moreSearch {
  width: 270px;
  height: 70vh;
  overflow-y: auto;
  :global {
    .ant-form-item {
      margin-bottom: 0;
    }
  }
}

.moreSearchButton {
  width: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.moreBtn {
  background: #fff;
  opacity: 1;
  text-align: center;

  span {
    margin-left: 2px;
    position: relative;
    top: -4px;
  }
}
