.customFileArea {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.fileStyle {
  word-wrap: none;
  margin-left: 10px;
  &_btn {
    margin-left: 10px;
    color: #2E5BFF;
  }
}