.moreBtn {
    background: #fff;
    opacity: 1;
    text-align: center;
  
    span {
      margin-left: 2px;
      position: relative;
      top: -4px;
    }
  }
  
  .moreSearchButton {
    width: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
  }
  
  .moreSearch {
    width: 270px;
    margin-top: 12px;
  
    :global {
      .ant-form-item {
        margin-bottom: 12px;
      }
    }
  }

  .switch {
    display: flex;
    box-sizing: border-box;
    border-radius: 2px;
    margin-right: 24px;
    margin-bottom: 16px;
    font-size: 14px;
    border: 1px solid #2E5BFF;
    background-color: #fff;
    &__left {
      display: flex;
      width: 50%;
      padding: 6px 18px;
      color: #fff;
      background-color: #2E5BFF;
      align-items: center;
      justify-content: center;
    }
    &__right {
      display: flex;
      width: 50%;
      padding: 6px 18px;
      color: #2E5BFF;
      align-items: center;
      justify-content: center;
    }
    &__right, &__left:hover {
      cursor: pointer;
    }
}