/* eslint-disable */
.moreBtn {
  background: #fff;
  opacity: 1;
  text-align: center;

  span {
    margin-left: 2px;
    position: relative;
    top: -4px;
  }
}

.moreSearchButton {
  width: 100%;
  padding: 16px;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.moreSearch {
  width: 270px;
  height: 400px;
  margin-top: 12px;
  overflow-y: auto;

  :global {
    .ant-form-item {
      width: 230px;
      margin-bottom: 12px;
    }
    .ant-select-selection {
      width: 230px;
    }
  }
}

.switch {
  display: flex;
  box-sizing: border-box;
  border-radius: 2px;
  margin-bottom: 16px;
  font-size: 14px;
  border: 1px solid #2E5BFF;
  background-color: #fff;

  &__left {
    display: flex;
    width: 50%;
    padding: 6px 18px;
    color: #fff;
    background-color: #2E5BFF;
    align-items: center;
    justify-content: center;
  }

  &__right {
    display: flex;
    width: 50%;
    padding: 6px 18px;
    color: #2E5BFF;
    align-items: center;
    justify-content: center;
  }

  &__right,
  &__left:hover {
    cursor: pointer;
  }
}

// 看板样式
.drag {
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;

  :global {
    ::-webkit-scrollbar-thumb {
      background: #8798AD;
      border-radius: 6px;
    }

    ::-webkit-scrollbar-thumb:hover {
      background-color: #A9ACAF;
      border-radius: 7px;
    }

    ::-webkit-scrollbar {
      width: 8px;
      height: 11px;
    }
  }
}

.drag::after {
  clear: both;
}

.spectaculars {
  margin-right: 16px;
  background-color: #fff;

  .cardTitle {
    width: 250px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    padding: 11px 11px;
    border-radius: 4px 4px 0 0;
    background: linear-gradient(135deg, #2E5BFF 0%, #2496EE 100%);
    margin-bottom: 6px;
    &_count {
      position: relative;
      left: 2px;
      font-weight: 400;
      font-size: 14px;
    }
  }

  .dragBoard {
    height: 104px;
    background: #F9FAFF;
    opacity: 1;
    border-radius: 4px;
    margin-top: 6px;
    margin-left: 6px;
    margin-right: 6px;

    &_firstLine {
      display: flex;
      font-size: 12px;
      padding: 8px;
      padding-bottom: unset;
      justify-content: space-between;

      &_no {
        color: #2E5BFF;
        background: rgba(46, 91, 255, 0.1);
        opacity: 1;
        border-radius: 2px;
        padding: 4px 5px;
      }
    }

    &_secondLine {
      margin: 8px;
      padding-bottom: 8px;
      color: #2E384D;
      font-weight: 700;
      border-bottom: 1px solid #D8DCE6;
      :global {
        .anticon {
          position: relative;
          top: -1px;
          margin-right: 6px;

        }
      }
    }

    &_thirdLine {
      display: flex;
      justify-content: space-between;
      margin: 8px;
      font-size: 12px;

      &_time {
        color: #606265;
      }

      &_type {
        color: #FF9716;
      }
    }
  }
}

.stepSet {
  position: relative;
  top: 8px;
  margin-bottom: 8px !important;

  :global {
    .ant-steps-item-icon>.ant-steps-icon {
      position: relative;
      top: -10px;
      font-size: 24px;
    }

    .ant-steps-item-process>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title {
      color: #2E5BFF;
    }

    .ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title {
      color: #2E5BFF;
    }

    .ant-steps-item-wait>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title {
      color: #2E384D;
    }

    .ant-steps-item-title {
      position: relative;
      left: 8px;
      font-weight: 700 !important;
    }
    .ant-steps-item-description {
      position: relative;
      left: 8px;
      top: 4px;
      color: #8798AD !important;
      font-size: 12px !important;
    }

    .ant-steps-item {
      flex: none;
      justify-content: space-between;
      flex-grow: 1;
      left: -30px;

      .ant-steps-item-content {
        width: 155px;
      }

      .ant-steps-item-container {
        width: 10vw
      }
    }

    .ant-steps-item-container>.ant-steps-item-tail {
      margin-left: 75px !important;
    }
  }
}

.formatDetailDesc {
  :global {
    .ant-descriptions-view {
      .ant-descriptions-row {

        .ant-descriptions-item-label,
        .ant-descriptions-item-colon {
          padding: 10px 24px;
          min-width: 136px;
          max-width: 158px;
        }
      }
    }
  }
}

.clearFormMargin {
  :global {
    .ant-descriptions-view {

      .ant-descriptions-item-label,
      .ant-descriptions-item-content {
        padding: 7px 9px;
        min-width: 136px;
        max-width: 158px;
      }

      .ant-descriptions-item-label {
        padding-left: 24px;
      }
    }

    .ant-form-item {
      margin-bottom: 0;
    }

    .ant-form-item-control {
      line-height: unset;
    }
  }
}

.childrenTable {
  :global {
    tr.ant-table-expanded-row > td {
      padding: 2px;
    }
  }
}

.desc_require:before {
  display: inline-block;
  margin-right: 4px;
  color: #f5222d;
  font-size: 14px;
  line-height: 1;
  content: '*';
}

.tableList {
  background-color: #fff;
  padding: 16px;
  .tableListOperator {
    margin-bottom: 16px;
    button {
      margin-right: 8px;
    }
  }
}

.tableListForm {
  padding-bottom: 16px;
  :global {
    .ant-form-item {
      margin-right: 0;
      display: flex;
      > .ant-form-item-label {
        width: auto;
        line-height: 32px;
        padding-right: 8px;
      }
      .ant-form-item-control {
        line-height: 32px;
      }
    }
    .ant-form-item-control-wrapper {
      flex: 1;
      padding-right: 12px;
    }
  }
  .submitButtons {
    display: block;
    white-space: nowrap;
    margin-bottom: 12px;
  }
}

.deleteButton {
  cursor: pointer;
  position: relative;
  top: 4px;
  font-size: 24px;
  color: #999;
  transition: all 0.3s;
}
.addForm, .addForm:hover, .addForm:active, .addForm:focus, .addForm:visited {
  background: #fff;
  opacity:1;
  border-radius:2px;
  color: #2E5BFF;
  border: 1px solid #2E5BFF;
}
.orangeForm, .orangeForm:hover, .orangeForm:active, .orangeForm:focus, .orangeForm:visited {
  width: 80px;
  background: #fff;
  opacity:1;
  border-radius:2px;
  border: 1px solid #2E5BFF;
  color: #2E5BFF;
}
.dropStyle {
  width: 220px;
  margin-left: 16px;
  :global {
    .ant-select {
      width: 100%;
      .ant-select-selection--single {
        height: 34px;
        border: 1px solid #2E5BFF;
      }
    }
  }
}
