.rightTitle {
  display: flex;

  &_roleName {
    box-sizing: border-box;
    height: 24px;
    line-height: 18px;
    padding: 4px 8px;
    margin-right: 4px;
    background: rgba(255, 151, 22, 0.11);
    border-radius: 2px;
    font-size: 10px;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: #FF9716;
    // h4 {
    //   margin-right: 16px;
    // }
  }
}