@import '~antd/es/style/themes/default.less';

html,
body,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  :global {
    .ant-pro-basicLayout-content {
      margin: 16px;
    }

    .ant-layout-header {
      height: 56px;
      line-height: 56px;
    }

    .ant-pro-global-header-trigger {
      padding: 0 16px;
    }

    .ant-pro-global-header,
    .antd-pro-components-global-header-index-right,
    .ant-pro-global-header-trigger {
      height: 56px;
    }

    .antd-pro-components-global-header-index-right .antd-pro-components-global-header-index-account .antd-pro-components-global-header-index-avatar {
      margin: calc((56px - 24px) / 2) 0;
    }

    .ant-layout.ant-layout-has-sider>.ant-layout {
      background-color: #F4F6FC;
    }

    .ant-calendar-picker {
      width: 100%;
    }

    .ant-descriptions-bordered .ant-descriptions-item-label {
      background-color: rgba(243, 245, 247, 1);
    }

    //section {
    //  .ant-pro-sider-menu-sider {
    //    flex: 0 0 200px !important;
    //    max-width: 200px !important;
    //    min-width: 200px !important;
    //    width: 200px !important;
    //  }
    //}
    //modal 样式修改
    .ant-modal-header {
      border-bottom: none;
    }

    .ant-modal-title {
      font-size: 16px;
      font-family: Source Han Sans CN;
      font-weight: 600;
      color: #303133;
    }

    .ant-modal-body {
      padding: 0 24px;

      :global {
        .ant-form-item {
          margin-bottom: 12px;
        }
      }
    }

    .ant-modal-footer {
      padding: 16px 24px;
      border-top: none;
    }

    // table样式修改
    .ant-table-thead>tr>th {
      background: rgba(243, 245, 247, 1);
      font-size: 14px;
      font-family: Source Han Sans CN;
      font-weight: 400;
      color: rgba(135, 152, 173, 1);
    }

    .ant-table-tbody>tr:nth-child(even) {
      background: rgba(244, 246, 252, 1);
    }

    // card样式修改
    .ant-card-body {
      padding: 16px
    }
  }
}

ul,
ol {
  list-style: none;
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;

    &-thead>tr,
    &-tbody>tr {

      >th,
      >td {
        white-space: pre;

        >span {
          display: block;
        }
      }
    }
  }
}

// 兼容IE11
@media screen and(-ms-high-contrast: active),
(-ms-high-contrast: none) {
  body .ant-design-pro>.ant-layout {
    min-height: 100vh;
  }
}

// 全局颜色样式
.activeColor {
  color: #2E5BFF;
  cursor: pointer;
}

// 全局定义的引用样式集

.margin-left-12 {
  margin-left: 12px;
}

.margin-right-12 {
  margin-right: 12px;
}

.margin-right-6 {
  margin-right: 6px;
}

.main {
  padding: 0;
  min-height: 87.5vh;
  background-color: #F4F6FC;
}

// 超出隐藏省略号
.overHide {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 常用布局
// 水平居中
.xCenter {
  display: flex;
  justify-content: center;
}

// 垂直居中
.yCenter {
  display: flex;
  align-items: center;
}

// 水平垂直居中
.xyCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

// 垂直居中, 两端对齐
.yCenter-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// 全局基础样式
.globalStyle {
  color: #2E5BFF;
}

.globalStyle:hover {
  cursor: pointer;
}

// 修改侧边栏样式
:global {

  .ant-menu-item-selected>a,
  .ant-menu-submenu-selected,
  .ant-menu-item-selected>a:hover,
  .ant-menu-item>a:hover {
    color: #2E5BFF;
  }

  .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    color: #2E5BFF;
    background-color: rgba(46, 91, 255, 0.1);
  }

  .ant-menu-item:hover,
  .ant-menu-item-active,
  .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
  .ant-menu-submenu-active,
  .ant-menu-submenu-title:hover {
    color: #2E5BFF;
  }

  .ant-menu-vertical .ant-menu-item::after,
  .ant-menu-vertical-left .ant-menu-item::after,
  .ant-menu-vertical-right .ant-menu-item::after,
  .ant-menu-inline .ant-menu-item::after {
    border-right: 3px solid #2E5BFF;
  }

  .ant-menu-submenu-inline>.ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after {
    background: linear-gradient(to right, #2E5BFF, #2E5BFF);
    background-color: #2E5BFF;
  }

  .ant-menu-submenu-inline>.ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before {
    background: linear-gradient(to right, #2E5BFF, #2E5BFF);
    background-color: #2E5BFF;
  }


}
